# LLM Engine configuration (options: ollama, claude)
LLM_ENGINE=ollama

# Claude configuration
ANTHROPIC_API_KEY=your-key-here
ANTHROPIC_MODEL=

# Ollama configuration
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=
